@import "tailwindcss";

@font-face {
  font-family: "iranyekanwebregular";
  src: url("/fonts/iranyekanwebregular.woff") format("woff");
}

@font-face {
  font-family: "iranyekanwebmedium";
  src: url("/fonts/iranyekanwebmedium.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhBold";
  src: url("/fonts/YekanBakhBold.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhHeavy";
  src: url("/fonts/YekanBakhHeavy.woff") format("woff");
}

@font-face {
  font-family: "YekanBakhMedium";
  src: url("/fonts/YekanBakhMedium.woff") format("woff");
}

:root {
  --font-size: 16px;
  --font-weight: 400;
}

@font-face {
  font-family: vazir;
  src: url("/fonts/vazir.eot");
  src: url("/fonts/vazir.eot?#iefix") format("embedded-opentype"),
    url("/fonts/vazir.woff2") format("woff2"),
    url("/fonts/vazir.woff") format("woff"),
    url("/fonts/vazir.ttf") format("truetype");
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: "iranyekanwebregular", sans-serif;
}

body {
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url("/images/bg.svg"); */
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

@layer utilities {
  .dynamic-font {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
  }
}

.text-xs,
.text-sm,
.text-base,
.text-lg,
.text-xl,
.text-2xl,
.text-3xl,
.text-4xl,
.text-5xl,
.text-6xl,
.text-7xl,
.text-8xl,
.text-9xl {
  font-size: var(--font-size) !important;
}

.font-thin,
.font-extralight,
.font-light,
.font-normal,
.font-medium,
.font-semibold,
.font-bold,
.font-extrabold,
.font-black {
  font-weight: var(--font-weight) !important;
}

.animated-gradient-bg {
  background: linear-gradient(270deg, #135388, #0f3768, #1976d2, #135388);
  background-size: 800% 800%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
